body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
a,
:focus {
  text-decoration: none;
  outline: 0;
}
img,
object,
embed {
  border: 0;
  outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  outline: 0;
  vertical-align: middle;
}
em,
i {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th,
ul,
ol {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: "";
}
fieldset,
img,
abbr,
acronym {
  border: 0;
}
.c:before,
.c:after {
  content: "";
  display: table;
}
.c:after {
  clear: both;
}
.c {
  zoom: 1;
}
.none {
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: none;
}
.t,
.ta a {
  display: block;
  text-indent: -9999px;
  text-align: left;
}
.fl,
.fr,
.ll,
.ll li,
.la a {
  float: left;
  _display: inline;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.hide {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.db {
  display: block;
  text-indent: -999em;
}
.mt35 {
  margin-top: 35px;
}
.mt10 {
  margin-top: 10px;
}
body {
  font: 14px/1.5 \5FAE\8F6F\96C5\9ED1, sans-serif;
  -webkit-text-size-adjust: none;
  text-align: justify;
  min-width: 1000px;
  background-image: url("/static/img/bg.jpg");
  background-size: cover;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.inside {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.header {
  width: 100%;
  height: 120px;
}
.wel {
  margin-top: 10px;
  text-align: right;
}
.tnav {
  width: 100%;
  height: 60px;
  margin-top: 20px;
}
#ico li {
  font-size: 16px;
  margin: 15px 0 0 35px;
  padding: 8px 0 10px;
}
#ico li.apps {
  float: right;
  background: url(../img/apps.jpg) 0 0 no-repeat;
  padding-left: 35px;
}
#ico li.tel {
  float: right;
  background: url(../img/ico.png) 0 0 no-repeat;
  padding-left: 25px;
}
#ico li.email {
  float: right;
  background: url(../img/ico.png) 0 -80px no-repeat;
  padding-left: 40px;
}
#ico li.skype {
  float: right;
  background: url(../img/ico.png) 0 -120px no-repeat;
  padding-left: 40px;
}
#nav {
  width: 100%;
  height: 45px;
  background-color: #0062ad;
  text-align: center;
}
#nav ul > li {
  float: left;
  width: 200px;
  cursor: pointer;
}
#nav ul > li:hover {
  background: #138bcf;
  box-shadow: 0 2px #0367a1;
  height: 44px;
}
#nav ul > li a {
  width: 200px;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 44px;
}
#nav ul > li a:hover {
  text-decoration: none;
}
#nav ul > li.actived {
  background: #138bcf;
  box-shadow: 0 2px #0367a1;
  height: 44px;
}
#footer {
  border-top: 2px solid #6fbffc;
  margin-top: 35px;
  width: 100%;
  height: 245px;
  background-color: #0062ad;
  color: #fff;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  text-decoration: underline;
}
#footer ul {
  float: left;
  margin-left: 35px;
}
#footer li {
  color: #fff;
  line-height: 25px;
  margin-left: 20px;
  margin-top: 15px;
}
#footer_ied {
  text-align: center;
  min-width: 1000px;
  height: 40px;
  line-height: 40px;
  background-color: #034e88;
  color: #fff;
  font-family: \5B8B\4F53, sans-serif;
  margin-top: 0;
}
.bor {
  border: 1px solid;
}
