.button {
  background-color: #0062ad;
  border: 0;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.scroll {
  height: 400px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 400px;
}
.flexslider {
  margin: 0 auto 55px;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  zoom: 1;
}
.flexslider .slides li {
  width: 100%;
  height: 100%;
}
.flex-direction-nav a {
  width: 70px;
  height: 70px;
  line-height: 99em;
  overflow: hidden;
  margin: -35px 0 0;
  display: block;
  background: url(../img/ctr.png) no-repeat;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease;
  border-radius: 35px;
}
.flex-direction-nav .flex-next {
  background-position: 0 -70px;
  right: 0;
}
.flex-direction-nav .flex-prev {
  left: 0;
}
.flexslider:hover .flex-next {
  opacity: 0.8;
  filter: alpha(opacity=25);
}
.flexslider:hover .flex-prev {
  opacity: 0.8;
  filter: alpha(opacity=25);
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
  filter: alpha(opacity=50);
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 2px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  background: url(../img/dot.png) no-repeat 0 -16px;
  display: block;
  height: 16px;
  overflow: hidden;
  text-indent: -99em;
  width: 16px;
  cursor: pointer;
}
.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
  background-position: 0 0;
}
.flexslider .slides a img {
  width: 100%;
  height: 400px;
  display: block;
}
.pro {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 416px;
  vertical-align: middle;
  line-height: 416px;
}
.pro li {
  position: relative;
  border: 1px solid #ccc;
  width: 238px;
  margin-left: 13px;
  text-align: center;
  float: left;
}
.pro li:first-child {
  margin-left: 0;
}
.pro img {
  vertical-align: middle;
}
.pro p {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 16px;
  background-color: #0062ad;
  width: 240px;
  height: 50px;
  line-height: 50px;
}
.ser {
  margin-top: 20px;
  height: 230px;
}
.ser li {
  background: url(../img/ok.jpg) no-repeat left center;
  margin-top: 20px;
  margin-left: 30px;
  width: 230px;
  height: 60px;
  float: left;
  padding-left: 70px;
  padding-top: 20px;
  font-size: 14px;
  color: #6d6c6c;
  font-weight: bold;
  text-align: left;
}
.ser a {
  color: #6d6c6c;
  margin-top: 15px;
  line-height: 20px;
}
.tentp {
  background: url(../img/bg1.jpg) no-repeat;
  height: 400px;
  background-position: center;
}
.all_pro {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}
.pro_menu {
  width: 200px;
  height: 100%;
  float: left;
  text-align: center;
}
.pro_menu ul {
  color: #000;
  border-bottom: 0;
}
.pro_menu li {
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
  border-top: 0;
}
.pro_menu li.actived {
  margin-top: 15px;
  cursor: default;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1d8ed0;
  border-radius: 5px 5px 0 0;
}
.pro_menu a {
  display: block;
  width: 200px;
  height: 50px;
}
.pro_menu a:hover {
  color: #e20101;
  font-weight: bold;
}
.pro_list {
  width: 765px;
  height: 100%;
  float: right;
  margin-left: 30px;
}
.pro_t {
  height: 50px;
  line-height: 50px;
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #1d8ed0;
}
.pro_l {
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
}
.pro_l li {
  width: 136px;
  float: left;
  height: 166px;
  margin: 30px 20px 0 0;
}
.pro_l li:nth-child(5n + 5) {
  width: 136px;
  float: left;
  height: 166px;
  margin: 30px 0 0 0;
}
.pro_l li img {
  width: 135px;
  height: 135px;
  background: #fff;
  border: 1px solid #dfdfdf;
}
.pro_l li a:hover img {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px 1px #ccc;
}
.pro_l li p a {
  display: block;
  height: 30px;
  line-height: 30px;
}
.pro_l li p a:hover {
  text-decoration: underline;
  color: #e20101;
}
.pagination-wrapper {
  margin-top: 50px;
}
.pagination {
  height: 34px;
  text-align: center;
}
.pagination li {
  display: inline-block;
  height: 34px;
  margin-right: 5px;
}
.pagination li a {
  float: left;
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  color: #555;
  text-decoration: none;
}
.pagination li a:hover {
  background: #f5f5f5;
  color: #09f;
}
.pagination li.thisclass {
  background: #09f;
  color: #fff;
}
.pagination li.thisclass a,
.pagination li.thisclass a:hover {
  background: transparent;
  border-color: #09f;
  color: #fff;
  cursor: default;
}
.info {
  margin-top: 50px;
  overflow: hidden;
  width: 100%;
}
.info_l {
  float: left;
}
.info_r {
  float: right;
  width: 520px;
  height: 460px;
  overflow: hidden;
}
.info_t {
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #1d8ed0;
}
.info_con {
  margin-top: 15px;
}
.info_con p {
  padding: 0 0 0 15px;
  line-height: 30px;
}
.in_text {
  margin-top: 15px;
  overflow: hidden;
}
.in_text_t {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: left;
  border-bottom: 2px solid #1d8ed0;
}
.int_text_c {
  margin-top: 20px;
}
.tents {
  background: url(../img/servicebj.jpg) no-repeat;
  height: 400px;
  background-position: center;
}
.tabT {
  border-bottom: 1px solid #e6e6e6;
  margin-top: 15px;
  width: 100%;
}
.tabs {
  height: 50px;
  background: #f6f6f6;
  border: 1px solid #ebebeb;
  border-bottom: 0;
  width: 100%;
}
.tabs li {
  height: 50px;
  line-height: 50px;
  float: left;
  border-left: 0;
  font-size: 16px;
  background: #f6f6f6;
  overflow: hidden;
  position: relative;
}
.tabs li a {
  display: block;
  padding: 0 20px;
  border-right: 1px solid #ebebeb;
  outline: 0;
  color: #5c5c5c;
}
.tabs li a:hover {
  background: #0068b7;
  color: #fff;
}
.tabs .thistab,
.tabs .thistab a {
  background: #0068b7;
  color: #fff;
}
.tab_conbox {
  border-top: 0;
}
.tab_con {
  display: none;
  padding: 12px;
  font-size: 14px;
  line-height: 175%;
}
.tabP {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}
.tentc {
  background: url(../img/aboutbj.jpg) no-repeat;
  height: 400px;
  background-position: center;
}
.tentn {
  background: url(../img/newsbj.jpg) no-repeat;
  height: 400px;
  background-position: center;
}
