<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
    <loc>http://www.hkhotsun.com</loc>
    <priority>1.0</priority>
    <lastmod>#(date)</lastmod>
    <changefreq>weekly</changefreq>
</url>
<url>
    <loc>http://www.hkhotsun.com/product.html</loc>
    <priority>1.0</priority>
    <lastmod>#(date)</lastmod>
    <changefreq>weekly</changefreq>
</url>
<url>
    <loc>http://www.hkhotsun.com/service.html</loc>
    <priority>1.0</priority>
    <lastmod>#(date)</lastmod>
    <changefreq>weekly</changefreq>
</url>
<url>
    <loc>http://www.hkhotsun.com/news.html</loc>
    <priority>1.0</priority>
    <lastmod>#(date)</lastmod>
    <changefreq>weekly</changefreq>
</url>
<url>
    <loc>http://www.hkhotsun.com/about.html</loc>
    <priority>1.0</priority>
    <lastmod>#(date)</lastmod>
    <changefreq>weekly</changefreq>
</url>
#for(type : typeList)
<url>
    <loc>http://www.hkhotsun.com/class/#(type.prot_id).html</loc>
    <priority>0.6</priority>
    <lastmod>#(date)</lastmod>
    <changefreq>weekly</changefreq>
</url>
#end
#for(product : productList)
<url>
    <loc>http://www.hkhotsun.com/product/#(product.pro_id).html</loc>
    <priority>0.5</priority>
    <lastmod>#(date)</lastmod>
    <changefreq>weekly</changefreq>
</url>
#end
</urlset>